body > header {
    display: block;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    background-color: moccasin;
}

body > header > h1 {
    color: darkgreen;
    text-align: center;
}

body > header > h5 {
    text-align: center;
}

.row {
    margin-top: 15px;
    margin-left: 10px;
}

.prompt {
    width:20%;
    height: 60px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.dropdown {
    margin-left: 10px;
    width: 30%;
    height: 60px;
}

.information {
    margin: auto;
    margin-bottom: 10px;
    width: 65%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.location {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: auto;
    margin-bottom: 50px;
}
